.DeleteTodo{
    background: none;
    border: 0px;
}
.EditTodo{
    border: 0px ;
    width: 60px;
    background: none;
    height: 30px;
}
.TodosPage{
    width: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Footer{
    position: absolute;
    bottom: 5%;
    right: 10%;
    transition: 0.3s ease-in-out;
}
.Footer:hover{
    transform:scale(1.2);
    cursor: pointer;
}
.AddButton{
    cursor: pointer;
    background: none;
    border: 0px;
}