
.App{
  display: flex;
  flex-direction: column;
 justify-content: center;
 align-items: center;
  height: 100vh;
}


.LeftSide{
  width: 30%;
  height: 100%;
  background-color: white;
  border-right: 2px solid black;
}
.Todos{
  width: 70%;
}
a{
  text-decoration: none;
  color: black;
}

